<!DOCTYPE html>
<html lang="ja">
  <head>
{% block head %}
    <meta charset="utf-8" />
    <title>Twitter Friends - Demo</title>
    <link href="/rss" type="application/rss+xml" rel="alternate" />
    <link href="/static/css/main.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/static/js/highcharts.js"></script>
    <!--[if lt IE 9]>
    <script src="/static/js/html5.js"></script>
    <![endif]-->
{% endblock %}
  </head>

  <body>
{% block main %}{% endblock %}
  </body>
</html>
